span.text-not-started, .item-not-started {
    color: #990000 !important;
  }

  span.text-in-progress, .item-in-progress {
    color: #994d00 !important;
  }

  span.text-completed, .item-completed {
    color: #006600 !important;
  }

  .tono-list {
    font-size: 1.2em;
    list-style: none;
  }

  .tono-list span.tono-title {
    font-weight: bold;
  }

.tono-list li:nth-child(odd) { background-color: #e0dfd97e; }
.tono-list li:nth-child(even) { background-color: #f8f0db; }

  .tono-list svg.author-icon  {
    color: #d08c0f;
  }

  .tono-list svg.status-icon  {
    color: #706558;
    margin-left: 0.5em;
  }

  .loading-spinner {
    top: 30%;
    left: 50%;
    position: absolute;
    z-index: 3;
  }



  span.poem-type {
    font-weight: bolder !important;
  }

  .item-tono-status {
    color: black !important;
  }







  .actions.tono-swicthes span {
    margin-left: 0.2em;
    vertical-align: 0.3em;
  }



  .actions.right-panel {
    flex: 1;
    align-self: flex-start;
    justify-content: end;
  }

  .panel-close-button {
    flex: 0;
    align-self: flex-end;
    margin-right: 5px;
    margin-top: 5px;
  }

  .measure-link {
    cursor: pointer;
  }




rect.overlay-editorial {
  pointer-events: all;
}

rect.overlay-editorial:hover {
  cursor: pointer;
}

.overlay-editorial-tooltip {
  display: none;
}

g:has(> rect.overlay-editorial:hover) text {
  display: block;
}

.overlay-box {
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 3em;
  padding-right: 3em;
  background-color: rgba(0, 0, 0, 0.644);
  color: #ffffff;
  backdrop-filter: blur(2px);
}

.overlay-box h1 {
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin: 0px;
}
.overlay-box p {
  width: 100%;
  text-align: left;
  font-size: 1.2em;
}

.overlay-box .button {
  margin: 1em;
}

.overlay-box p {
  margin: 0.2em;
}


.verovio-topbar-element input {
  margin: unset !important;
}

.verovio-topbar-element label {
  margin: unset !important;
}

.verovio-topbar {
  display: flex;
}



.topbar-center {
  margin-left: auto !important;
  margin-right: auto !important;
  flex-grow: 1;
  flex-shrink: 0;
}



button.toggle {
  padding: 0 !important;
  box-shadow: unset;
  font-size: 1em;
}

span.toggle-text {
  color: #7f888f !important;
  text-transform: none !important;
  margin-left: 0.2em;
  vertical-align: super;
  font-size: 1em;
}


.clickable-icon.reverse-color {
  background-color: #f56a6a;
}


.toggle-button-element {
  font-size: 1.1em;
}

.toggle-button-element.disabled, .verovio-topbar-element.disabled {
  opacity: 0.6;
}

.toggle-button-icon svg {
  color: #f56a6a;
}

.toggle-button-element  span {
  color: #7f888f;
  margin-left: 0.2em;
  align-self: center;
}


.verovio-topbar ul {
  margin: 0;
}

.verovio-topbar ul.actions li a::before {
  margin: 0 !important;
}

.icon-button .clickable-icon  {
  cursor: pointer;
}

.toggle-button-element:not(.disabled) .clickable-icon  {
  cursor: pointer;
}

section.about p {
  font-size: large;
}

body {
  margin: 0px;
}

